@model IEnumerable<TempMotoWeb.Models.Medicao>

@{
    ViewData["Title"] = "Lista";
}

@section Scripts{
    <meta http-equiv="refresh" content="300" />
}

<h1>Lista de Medições</h1>

<!--<p>
    <a asp-action="Create">Create New</a>
</p>-->
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.endereco)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Temperatura)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Umidade)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Velocidade)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Data_Medicao)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
            <tr>
            <td>
                    @(item.endereco != null ? @Html.DisplayFor(modelItem => item.endereco) : @Html.Raw("lat: " + item.Latitude + " long: " + item.Longitude))
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Temperatura)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Umidade)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Velocidade)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Data_Medicao)
            </td>
            <td>
                <!--<a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |-->
                <a class="btn btn-primary" asp-action="Details" asp-route-id="@item.Id">Detalhes</a>
                <!--< a asp - action = "Delete" asp - route - id = "@item.Id" >| Delete </ a >-->
            </td>
        </tr>
}
    </tbody>
</table>
